# Byte-compiled / optimized / DLL files

# directories to ignore
.idea/

# ignoring outputPlots folder -----------
gaussian_smearing_Ex_energy_spectrum/outputPlots/*
# except these 6 files. These 6 files in outputPlots folder are not ignored. They are always added.
!gaussian_smearing_Ex_energy_spectrum/outputPlots/EnergySpectrum_Smeared_Sig0.60_BIN80keV_20210723_195106.jpeg
!gaussian_smearing_Ex_energy_spectrum/outputPlots/EnergySpectrum_Smeared_Sig0.60_BIN80keV_20210723_195106.pdf
!gaussian_smearing_Ex_energy_spectrum/outputPlots/EnergySpectrum_Smeared_Sig0.60_BIN80keV_20210723_195106.png
!gaussian_smearing_Ex_energy_spectrum/outputPlots/EnergySpectrum_Smeared_Sig0.60_BIN400keV_20210723_213328.jpeg
!gaussian_smearing_Ex_energy_spectrum/outputPlots/EnergySpectrum_Smeared_Sig0.60_BIN400keV_20210723_213328.pdf
!gaussian_smearing_Ex_energy_spectrum/outputPlots/EnergySpectrum_Smeared_Sig0.60_BIN400keV_20210723_213328.png

#extensions to ignore
*.log
*.pot
*.pyc